.raytracing {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.rect {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: grey;
}
