.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 500px;
  width: calc(100% - 120px);
  gap: 5rem;
  padding: 1rem;
  > * {
    padding: 1rem;
    border: 1px solid orange;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: 100%;
  }
}
